absl-py==0.9.0
altgraph==0.17
asgiref==3.2.7
astor==0.8.1
baidu-aip==2.2.18.0
beautifulsoup4==4.9.0
cachetools==4.1.0
certifi==2020.4.5.1
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
dill==0.3.2
Django==3.0.6
fire==0.3.1
future==0.18.2
gast==0.2.2
google-auth==1.14.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
greenlet==1.0.0
grpcio==1.28.1
h5py==2.10.0
idna==2.9
imageio==2.9.0
importlib-metadata==3.7.3
jieba==0.42.1
joblib==0.14.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
Markdown==3.2.1
matplotlib==3.2.1
msgpack==1.0.0
msgpack-numpy==0.4.6.post0
networkx==2.4
numpy==1.18.3
oauthlib==3.1.0
opencv-contrib-python==3.4.3.18
opencv-python==4.2.0.34
opt-einsum==3.2.1
pandas==1.0.3
pefile==2019.4.18
Pillow==7.1.2
playsound==1.2.2
protobuf==3.11.3
psutil==5.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio @ file:///E:/Users/16438/AppData/Local/Programs/Python/PyAudio-0.2.11-cp37-cp37m-win_amd64.whl
pygame==1.9.6
PyInstaller==3.6
PyMySQL==1.0.2
pyparsing==2.4.7
PySide2==5.14.2.1
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
pywin32-ctypes==0.2.0
pyzmq==19.0.1
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.0
scikit-image==0.17.2
scikit-learn==0.22.2.post1
scipy==1.4.1
shiboken2==5.14.2.1
six==1.14.0
slidingwindow==0.0.14
soupsieve==2.0
SpeechRecognition==3.8.1
SQLAlchemy==1.4.0
sqlparse==0.3.1
tabulate==0.8.7
tensorboard==2.1.1
tensorflow==2.1.0
tensorflow-estimator==2.1.0
tensorpack @ git+https://github.com.cnpmjs.org/ppwwyyxx/tensorpack.git@62ea40c897f4a94de91217ae85721800eb973b61
termcolor==1.1.0
tifffile==2020.7.4
tqdm==4.47.0
typing-extensions==3.7.4.3
urllib3==1.25.9
Werkzeug==1.0.1
wordcloud==1.6.0
wrapt==1.12.1
zipp==3.4.1
